PORT=32766
JWT_SECRET=change-me-long-random
ADMIN_USER=admin
ADMIN_PASS=phantom
DB_PATH=data/phantom.db
BASE_APK_PATH=factory/baseApp/base.apk
SIGNER_JAR_PATH=factory/uber-apk-signer.jar
KEYSTORE_PATH=data/phantom.keystore
BUILDS_DIR=data/builds
